form {
	margin: 0 auto;
	text-align: right;
}

.field {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 10px;
	font-size: inherit;
}

label {
	font-size: var(--font-size-password-label);
}
